@import "tailwindcss";

@custom-variant data-open (&[data-headlessui-state~="open"]);

@theme {
    --font-zed: "Zed Sans", monospace;
    --color-stash-light: oklch(40.15% 0.033 246.96);
    --color-stash-dark: oklch(28.23% 0.021 240.04);
    --color-stash-50: oklch(99.06% 0.002 247.73);
    --color-stash-100: oklch(92.96% 0.015 244.7);
    --color-stash-200: oklch(82.61% 0.04 241.12);
    --color-stash-300: oklch(71.44% 0.053 239.54);
    --color-stash-400: oklch(60.94% 0.045 240.87);
    --color-stash-500: oklch(49.85% 0.037 240.02);
    --color-stash-600: oklch(38.52% 0.029 240.88);
    --color-stash-700: oklch(28.23% 0.021 240.04);
    --color-stash-800: oklch(23.33% 0.017 237.67);
    --color-stash-900: oklch(18.74% 0.014 243.71);
    --color-stash-950: oklch(15.01% 0.011 233.12);
    --color-token-keyword: #cc71dd;
    --color-token-string: #7ec699;
    --color-token-operator: #67cdcc;
    --color-token-inserted: green;
    --color-token-property: #f8c555;
    --color-token-number: #f08d49;
    --color-token-comment: #999;
    --color-token-punctuation: #ccc;
    --color-token-tag: #f08d49;
    --color-token-function-name: #6196cc;
}

@layer components {
    .editor {
        @apply font-zed text-lg;
        @apply bg-stash-800;
        @apply shadow-md shadow-stash-800;
        @apply rounded-md sm:rounded-lg;
        &:focus-within {
            @apply ring-1 ring-stash-500;
        }
    }
}

@font-face {
    font-family: "Zed Sans";
    font-style: normal;
    font-weight: normal;
    src: url("/font/zed-sans-extended.ttf") format("truetype");
}

@font-face {
    font-family: "Zed Sans";
    font-style: italic;
    font-weight: normal;
    src: url("/font/zed-sans-extendeditalic.ttf") format("truetype");
}

@font-face {
    font-family: "Zed Sans";
    font-style: normal;
    font-weight: bold;
    src: url("/font/zed-sans-extendedbold.ttf") format("truetype");
}

@font-face {
    font-family: "Zed Sans";
    font-style: italic;
    font-weight: bold;
    src: url("/font/zed-sans-extendedbolditalic.ttf") format("truetype");
}
